/* Icons */
@import url(../fontawesome/css/all.min.css);

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* Perssonalização padrão */
body {
    background-color: #f1f1f1;
    font-family: 'Hind Madurai', sans-serif;
}

* {
    box-sizing: border-box;
}
p, a {
    color: #000;
    font-size: 1.2rem;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}
.cabecalho {
    width: 100%;
    height: 100vh;
    color: rgba(0, 0, 0, 0.877);
    background-image: url(../imagens/london.jpg);
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* nav */
.cabecalho__menu {
    background-color: #fff;
    height: 55px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__links {
    display: flex;
    padding: 8px;
}

/* BUSCA VIAGENS */
.buscar__viagem {
   max-width: 850px;
   display: flex;
   flex-direction: column;
   margin: auto;
   position: relative;
   top: 30%;
}

.buscar__vagas--cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Titulo */
.viagem__cabecalho {
    background-color: #000;
    color: #fff;
    padding: 16px 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.viagem__cabecalho.opcao--active {
    background: #f44336;
}

.cabecalho--ico2::before {
    font-family: 'fontawesome';
    content: "\f072";
    margin-right: 8px;
    font-size: 1rem;
}

.cabecalho--ico3::before {
    font-family: 'fontawesome';
    content: "\f236";
    margin-right: 8px;
    font-size: 1rem;
}

.cabecalho--ico4::before {
    font-family: 'fontawesome';
    content: "\f1b9";
    margin-right: 8px;
    font-size: 1rem;
}


.container {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px 17px 30px;
    font-weight: 300;
}

/* Titulo container */
.viagem__title {
    grid-column: span 2;
    display: flex;
    align-self: flex-end
}

.viagem__span {
    display: flex;
    align-self: flex-end
}

.viagem__input {
    border: 1px solid rgba(0, 0, 0, 0.31);
    padding: 0 5px;
}

.btn {
    display: flex;
    padding: 10px 30px;
    max-width: 50%;
    box-shadow: 2px 1px 5px 1px hsl(0deg 0% 0% / 22%);
    border-radius: 5px;
    background-color: #ffe561;
    color: #270570;
    cursor: pointer;
}

/* Conteúdo principal   */
.principal {
    max-width: 1366px;
    margin: auto;
    margin-top: 50px;
}

.principal__subtitulo {
    padding: 1.5rem 0;
}

strong {
    font-weight: 700;
}

/* Seção de imagems */
.oferta {
    margin: auto;
    max-width: 1366px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.box__img {
    position: relative;
}

.oferta__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box__img-terre {
    grid-row: span 2;
    width: 600px;
}

.caption p {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9rem;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 2px;
}

/* Explore a Natureza  */
.explore {
    margin: 50px 0;
}

.explore__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.explore--items {
    background-color: #ffffff;
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 10px;
}

.imagens {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-infor {
    display: grid;
    row-gap: 15px;
    padding: 0 0 50px 10px;
}

.explore__price {
    font-size: 1rem;
    color: hsla(0, 0%, 0%, 0.6);
}

.explore__compartilhar {
    padding-left: 10px;
    font-weight: 300;
    cursor: pointer;
}

.explore__compartilhar:hover {
    text-decoration: underline;
}

/* SECTION SE INSCREVA */
.subscribe {
    width: 100%;
    padding: 50px 0;
}

.subscribe__container {
    background-color: #606060;
    color: #fff;
    margin: auto;
    width: 50%;
    padding: 24px 15px 50px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.subscribe__text {
    color: #fff;
    font-weight: 300;
}

.subscribe__input {
    border: 1px solid rgba(0, 0, 0, 0.31);
    padding: 10px 5px;
}

.botao--subscribe {
   width: 20%;
   font-weight: 400;
}

/* SECTION CONTATO */
.contact {
    padding-left: 8px;
    display: grid;
    row-gap: 10px;
    max-width: 40%;
}

.contact p {
    font-size: 1rem;
    font-weight: 300;
}

.contact__local::before {
    font-family: 'fontawesome';
    content: "\f3c5";
    margin-right: 10px;
    font-size: 1rem;
}
.contact__phone::before {
    font-family: 'fontawesome';
    content: "\f095";
    margin-right: 10px;
    font-size: 1rem;
}
.contact__mail::before {
    font-family: 'fontawesome';
    content: "\f0e0";
    margin-right: 10px;
    font-size: 1rem;
}

.contact input {
    padding: 8px;
}

.contact--enviar {
    margin: 10px 0;
    max-width: 30%;
}

/* MIDIAS SOCIAIS */
.midias {
    width: 100%;
}

.social__midias {
    margin: auto;
    padding: 50px ;
    text-align: center;
}

.midias__title {
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.item--facebook::before {
    font-family: "Fontawesome";
    content: "\f082";
    font-size: 2rem;
    margin-right: 8px;
}

.item--instagram::before {
    font-family: "Fontawesome";
    content: "\f16d";
    font-size: 2rem;
    margin-right: 8px;
}

.item--snapchat::before {
    font-family: "Fontawesome";
    content: "\f2ad";
    font-size: 2rem;
    margin-right: 8px;
}

.item--pinterest::before {
    font-family: "Fontawesome";
    content: "\f0d2";
    font-size: 2rem;
    margin-right: 8px;
}

.item--twitter::before {
    font-family: "Fontawesome";
    content: "\f099";
    font-size: 2rem;
    margin-right: 8px;
}

.item--linkedin::before {
    font-family: "Fontawesome";
    content: "\f0e1";
    font-size: 2rem;
}

.referencia {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 20px;
}